<div id="<%= dom_id order_item %>">
  <div>
    <strong>Order:</strong>
    <%= order_item.order_id %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= order_item.product_id %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= order_item.quantity %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= order_item.price %>
  </div>

</div>
