<h1 class="text-2xl font-bold text-proyecto-primary mb-6">Gestión de Usuarios</h1>

<div class="flex justify-end mb-4">
  <% if can? :create, User %>
    <%= link_to "Nuevo usuario",
                new_backstore_user_path,
                class: "px-4 py-2 rounded-md bg-proyecto-primary text-proyecto-bg hover:bg-proyecto-accent" %>
  <% end %>
</div>

<div class="overflow-x-auto shadow border border-proyecto-secondary rounded-lg bg-white">
  <table class="min-w-full divide-y divide-proyecto-secondary">
    <thead class="bg-proyecto-secondary/80">
    <tr>
      <th class="px-6 py-3 text-left text-xs font-medium text-proyecto-primary uppercase tracking-wider">ID</th>
      <th class="px-6 py-3 text-left text-xs font-medium text-proyecto-primary uppercase tracking-wider">Email</th>
      <th class="px-6 py-3 text-left text-xs font-medium text-proyecto-primary uppercase tracking-wider">Rol</th>
      <th class="px-6 py-3 text-right text-xs font-medium text-proyecto-primary uppercase tracking-wider">Acciones</th>
    </tr>
    </thead>

    <tbody class="divide-y divide-proyecto-secondary/70">
    <% @users.each do |user| %>
      <tr>
        <td class="px-6 py-4 whitespace-nowrap text-proyecto-text text-sm">
          <%= user.id %>
        </td>

        <td class="px-6 py-4 whitespace-nowrap text-proyecto-text text-sm">
          <%= user.email %>
        </td>

        <td class="px-6 py-4 whitespace-nowrap">
            <span class="px-3 py-1 rounded-full text-xs font-semibold
              <%= case user.role
                  when "admin" then "bg-proyecto-primary text-proyecto-bg"
                  when "manager" then "bg-proyecto-accent text-proyecto-bg"
                  else "bg-proyecto-secondary text-proyecto-primary"
                  end %>">
              <%= translated_role(user.role) %>
            </span>
        </td>

        <td class="px-6 py-4 whitespace-nowrap">
          <div class="flex justify-end items-center gap-3">
            <% if can? :update, user %>
              <%= link_to "Editar",
                          edit_backstore_user_path(user),
                          class: "px-3 py-1 bg-proyecto-secondary text-proyecto-primary hover:bg-proyecto-accent hover:text-proyecto-bg rounded-md text-sm" %>
            <% end %>

            <% if can? :destroy, user %>
              <%= link_to "Eliminar",
                          backstore_user_path(user),
                          data: {
                            turbo_method: :delete,
                            turbo_confirm: "¿Seguro que querés eliminar este usuario?"
                          },
                          class: "px-3 py-1 bg-proyecto-accent text-proyecto-bg hover:bg-proyecto-primary rounded-md text-sm" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
