<div id="<%= dom_id pickup_point %>">
  <div>
    <strong>Name:</strong>
    <%= pickup_point.name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= pickup_point.address %>
  </div>

  <div>
    <strong>City:</strong>
    <%= pickup_point.city %>
  </div>

  <div>
    <strong>Province:</strong>
    <%= pickup_point.province %>
  </div>

  <div>
    <strong>Enabled:</strong>
    <%= pickup_point.enabled %>
  </div>

</div>
