<p style="color: green"><%= notice %></p>

<%= render @pickup_point %>

<div>
  <%= link_to "Edit this pickup point", edit_pickup_point_path(@pickup_point) %> |
  <%= link_to "Back to pickup points", pickup_points_path %>

  <%= button_to "Destroy this pickup point", @pickup_point, method: :delete %>
</div>
